.logo {
    background-image: url(../Imgs/logo.jpg);
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
    background-size: 90px 90px;
}

body {
    background-image: url(../Imgs/bg.jpg);
    background-size: contain;
    color: aliceblue;
}